/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config 1080p */

@import "~/.config/rofi/master-config.rasi" 

/* ---- Configuration ---- */
configuration {
	font: "Operator Mono Lig 12";
}

element-text {
    font:	"Operator Mono Lig 14";
}

